
body {
    font-size: 1.4rem;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto; 
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    list-style: none;
    gap: 1rem;
}





/* -------- FOOTER -------- */


/* -------- PARTIE HAUT -------- */

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-author {
  display: flex;
  align-items: center;
  font-style: normal;
  gap: 10px;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}


/* -------- LIGNE -------- */

.footer-divider {
  border: none;
  height: 2px;
  background-color: #222;
  margin: 25px 0;
}


/* -------- PARTIE BAS -------- */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom a,
.footer-bottom span {
  color: #555;
  text-decoration: underline;
}

.footer-info {
  display: flex;
  gap: 30px;
}


/* -------- PAGE ACCEUIL -------- */

.banner{
padding:80px 0;
}

.banner-content{
display:flex;
align-items:center;
justify-content:space-between;
gap:60px;
}

/* image */

.banner-media{
flex:1;
}

.banner-image{
flex: 1;
width:100%;
aspect-ratio:5 / 4;
border:3px solid black;
}


/* texte */

.banner-text{
max-width:450px;
}

.banner-text h1{
font-size:50px;
line-height:1.1;
margin-bottom:20px;
}

.banner-text p{
font-size:20px;
color:gray;
margin-bottom:35px;
}

/* boutons */

.banner-actions{
display: flex;
flex-wrap: wrap;
gap: 20px;

}

.btn{
text-decoration:none;
padding:8px 15px;
border:3px solid black;
font-size:18px;
}

.btn-order{
background:#3f3f3f;
color:white;
}

.btn-book{
background:white;
color:black;
}










